code, pre {
  margin: 0;
}

code {
  line-height: 1.6em;
}

pre.hover {
  background-color: #ddd;
}

div.comment, div.comment input {
  color: #aaa;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.3rem;
}

div.comment input {
  width: 60%;
}